<!doctype html>
<html lang="en">
  <head>
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../src/template/sb/fonts/icomoon/style.css">

    <link rel="stylesheet" href="../src/template/sb/css/owl.carousel.min.css">

    <style>
      .sidebar ul li > ul {
          margin-left: 30px!important;
      }
    </style>
    
    <!-- Style -->
    <link rel="stylesheet" href="../src/template/sb/css/style.css">

  </head>
  <body>
  
    
    <aside class="sidebar">
      <div class="toggle">
        <a href="#" class="burger js-menu-toggle" data-toggle="collapse" data-target="#main-navbar">
          <span></span>
        </a>
      </div>
      <div class="side-inner">
        <div class="nav-menu">
          <ul>
            <li class="active"><a href="home" class="d-flex align-items-center"><span class="wrap-icon icon-home2 mr-3"></span><span class="menu-text">Home</span></a></li>
            <li>
              <a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <span class="wrap-icon icon-videocam mr-3"></span><span class="menu-text">Account</span>
                &ensp;
                <i class="fa fa-chevron-circle-down"></i>
              </a>
              <ul id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <li>
                  <a href="profile">Profile</a>
                </li>
                <li>
                  <a href="wallet">Wallet Address</a>
                </li>
                <li>
                  <a href="downlines">Dowlines</a>
                </li>
              </ul>
          </li>
          <li>
            <a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <span class="wrap-icon icon-videocam mr-3"></span><span class="menu-text">Statements</span>
              &ensp;
              <i class="fa fa-chevron-circle-down"></i>
            </a>
            <ul id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <li>
                <a href="investment-statement">Investments</a>
              </li>
              <li>
                <a href="deposit-statement">Deposits</a>
              </li>
              <li>
                <a href="withdrawal-statement">Withdrawals</a>
              </li>
            </ul>
        </li>
            <li><a href="packages" class="d-flex align-items-center"><span class="wrap-icon icon-book mr-3"></span><span class="menu-text">Packages</span></a></li>
            <li><a href="deposit" class="d-flex align-items-center"><span class="wrap-icon icon-shopping-cart mr-3"></span><span class="menu-text">Deposit</span></a></li>
            <li><a href="activate" class="d-flex align-items-center"><span class="wrap-icon icon-pie-chart mr-3"></span><span class="menu-text">Activation</span></a></li>
            <li><a href="withdraw" class="d-flex align-items-center"><span class="wrap-icon icon-cog mr-3"></span><span class="menu-text">Withdraw</span></a></li>
            <li><a href="#" class="d-flex align-items-center"><span class="wrap-icon icon-cog mr-3"></span><span class="menu-text">Sign out</span></a></li>
          </ul>
        </div>
      </div>
      
    </aside>
    
  </body>
  <script src="../src/template/sb/js/jquery-3.3.1.min.js"></script>
  <script src="../src/template/sb/js/popper.min.js"></script>
  <script src="../src/template/sb/js/bootstrap.min.js"></script>
  <script src="../src/template/sb/js/main.js"></script>
  <script>
    $('.collapse').collapse()
  </script>
</html>